<div class="users-overview">
  <p>
    This section should show the list of (dummy) users from the API.<br />
    For this you will need to do the following:
  </p>
  <div class="title">
    Backend (do-it-api)
  </div>
  <ul>
    <li>Expose a list of 5 fake users with random data</li>
    <li>Use best (REST) practices as much as possible but don't over do it (e.g. no real database!)</li>
    <li>Implement this as you would in a real world project</li>
  </ul>
  <div class="title">
    Frontend (this project)
  </div>
  <ul>
    <li>replace this view with the list of 5 fake users</li>
    <li>e.g. call the API to get this list</li>
  </ul>
  <div class="title">
    General Tips
  </div>
  <ul>
    <li>Don't overthink</li>
    <li>Keep it simple</li>
    <li>Don't repeat yourself</li>
    <li>Use best practices</li>
    <li>Don't spend more than 2-3 hours on this (timebox it)</li>
    <li>Showcase what you can</li>
    <li>Good luck!</li>
  </ul>
</div>
